.DS_Store
Strassen/.DS_Store
Sorting/homework1/.DS_Store
Sorting/homework1/.Rhistory
Sorting/homework2/.DS_Store
Sorting/.DS_Store
Heaps/.DS_Store
Heaps/homework1/.DS_Store
Heaps/homework1/.Rhistory
Heaps/homework2/.DS_Store
Heaps/homework2/.Rhistory
Dijkstra/.DS_Store
Dijkstra/.Rhistory
*.DS_Store
*.Rhistory
